:root {

    /* Dimensions */
    --width-full: 100%;
    --width-12col: 1200px;     
    --width-box: 1300px;
    --width-box-medium: 1000px;
    --width-12col-medium: 923.1px;
    --width-box-small: 768px;
    --width-12col-small: 709px;
    --width-box-mobile: 360px;
    --width-12col-mobile: 334px;

    /* Grid Settings */
    --grid-gap: 10px;
    --padding-default: 20px;

    /* Colors */
    --color-background: #201011;
    --color-text: #FFFFFF;
    --color-box: #46B6AF;
    --color-polaroid: #EDE0CD;
  }


/* Reset CSS */
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    
    
  }
  html {
    margin-top:0px !important;
    overflow-x: hidden;
  }
  /* Global CSS */
  
  body {
    background-color: #46156c;
    font-family: "Roboto", sans-serif;
    overflow-x: hidden;
  }
  
  .container {
    background: #201011;
    height: auto;
    width:var(--width-full);
    overflow-x: hidden;

  }

  h3 {
    font-size: 2rem;
    color: var(--color-text);
    font-weight: 700;
  }

  h4 {
    font-size: 2rem;
    color: var(--color-text);
    font-weight: 700;
  }

  h5 {
    font-size: 1.4rem;
    color: var(--color-text);
    font-weight: 700;
  }

  h6 {
    font-size: 1.8rem;
    color: var(--color-text);
    font-weight: 700;
  }

  h7 {
    font-size: 1.2rem;
    color: var(--color-text);
    font-weight: 400;
  }

  .p1 {
    font-size: 1rem;
    color: var(--color-text);
    font-weight: 700;
  }


  .eventSiteBody{
    width: var(--width-12col);
    background-color: #46B6AF;
    margin: auto;
    height: 700px;
  }

  .eventSiteImage {
  position: relative;
  z-index: 1;
  height: 500px;
  background-color: blue;
  }

  .eventSiteHeader {
    position: relative;
    z-index: 10;        
    background-color: rgba(211, 26, 26); 
    padding: 3rem;
    width: 1000px;
    height: 300px;
    align-items: center;
    margin: auto;
    top: -100px;
  }

  .eventSiteFilter{
    width: var(--width-12col);
    background-color: #46B6AF;
    margin: auto;
    height: 200px;
    padding: 2rem;
  }

  .eventSiteFilterBox{
    display: flex;
    padding-top: 30px;
    justify-content: space-between;
    align-items: center;
    margin: auto auto;
  }

  .eventSiteCardsSection{
  margin: 50px auto 0 auto;  
  width: var(--width-12col);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: auto;
  gap: 2rem;
  justify-content: center;
  }

  .eventSiteCard {
    height: 480px;
    width: 380px;
    transition: all 0.3s ease-in-out;
    margin-bottom: 60px;
    display: flex;
    position: relative;
  }

  .eventSiteCard:hover:not(.active) {
    z-index: 20;
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  }
  

  .eventSiteCardImage, img{
    height: 220px;
    width: 100%;
    background-color: blue;
    z-index: 1;
    position: relative;
  }

  .eventSiteCardBadge {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: rgba(255, 0, 0, 0.8);
    border: 3px solid red;
    color: var(--color-text);
    padding: 0.3rem 0.6rem;
    font-size: 1.2rem;
    font-weight: bold;
    z-index: 2;
    border-radius: 4px;
  }

  .eventSiteCardBadgeAny {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: rgba(207, 200, 75, 0.8);
    border: 3px solid rgba(207, 200, 75, 0.8);
    color: var(--color-text);
    padding: 0.3rem 0.6rem;
    font-size: 1.2rem;
    font-weight: bold;
    z-index: 2;
    border-radius: 4px;
  }

  .eventSiteCardPT {
    width: 80px;
    height: 80px;
    background-color: rgb(69, 186, 89);
    border: 4px solid rgb(55, 140, 166);
    position: relative;
    border-radius: 50%;
    top: -40px;
    left: 270px;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    z-index: 10;
  }
  
  .eventSiteCardPToff {
    width: 80px;
    height: 80px;
    background-color: rgb(199, 35, 35);
    border: 4px solid rgb(55, 140, 166); 
    position: relative;
    border-radius: 50%;
    top: -40px;
    left: 270px; 
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    z-index: 10;
  }

    .eventSiteCardPT p, .eventSiteCardPToff p{
    font-size: 1.5rem;
    color: white;
    font-weight: 400;
    text-align: center;
  }
  .eventSiteCardHeader{
    height: 320px;
    width: 100%;
    background-color: rgb(55, 140, 166);
    padding: 2rem;
    position: relative;
  }

  .eventSiteCardCate {
    font-weight: bold;
    color: #A880B9;
    font-size: larger;
  }

  .eventSiteCardHeader i{
    font-size: 25px;
  }

  .eventSiteCardDetails {
  position: fixed;
  width: 1200px;
  max-width: 100%;
  height: auto;
  background-color: #46B6AF;
  z-index: 999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2rem;
  border-radius: 1rem;
  color: white;
  }